<div id="footer" class="vertical-center">
    <p>
        <small>
            dodoworkspr@gmail.com | <a href="https://github.com/dodo721">github: dodo721</a> | discord: @dodo721
        </small>
    </p>
    <div class="horizontal-center">
        <a data-func="ls" data-param-dir="img/badges" href="$link" target="_blank">
            <img id="badge" src="/img/badges/$item" title="$title" />
        </a>
    </div>
</div>