<div id="footer" class="vertical-center">
    <p>
        <small>
            dodoworkspr@gmail.com | <a href="https://github.com/dodo721">github: dodo721</a> | discord: @dodo721
        </small>
    </p>
    <div class="horizontal-center">
        <img id="badge" data-func="ls" src="/img/badges/$item" data-param-dir="img/badges"/>
    </div>
</div>