<div id="sidebar" class="vertical-center">
    <img id="tranarchy" class="mt" src="/img/tranarchy.png"/>
    <hr class="v mt"/>
    <hr class="h"/>
    <a class="randsiz randcol mt" href="/">home</a>
    <%- pages.map(p => `<a class="randsiz randcol mt" href="/${p}">${p}</a>`).join("") %>
</div>