<div id="sidebar" class="vertical-center">
    <img id="tranarchy" class="mt" src="/img/tranarchy.png"/>
    <hr class="v mt"/>
    <hr class="h"/>
    <p>Hi!</p>
    <%#- pages.map(p => `<p class="rand">${p}</p>`) %>
</div>