<!DOCTYPE html>
<html>
    <head>
        <title>
            vgorl.is | <%= locals.title || page %>
        </title>
        <link rel="icon" type="image/x-icon" href="/img/tranarchy.ico">
        <link rel="stylesheet" href="/style/main.css">
        <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
        <script type="text/javascript" src="/js/bundle.js"></script>
    </head>
    <body>
        <div class="vertical-center">
            <div id="main" class="vertical-center">
                <%- include("../pages/" + page) %>
            </div>
        </div>
        <hr/>
        <%- include("../partials/footer") %>
        <%- include("../partials/sidebar") %>
    </body>
</html>