@keyframes marquee-slide-1 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes marquee-slide-2 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.marquee {
    overflow-x: hidden;
    position: relative;
    .innerOne {
        position: absolute;
        animation: marquee-slide-1 5s linear infinite;
        padding-left: 1rem;
    }
    .innerTwo {
        animation: marquee-slide-2 5s linear infinite;
        padding-left: 1rem;
    }
}