@keyframes marquee-slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

.marquee {
    overflow-x: hidden;
    * {
        animation: marquee-slide 5s linear infinite;
    }
}