// Utils
@import './layout.less';

// Fonts
@import './fira_code.less';

// Components
@import './components.less';
@import './rand-size.less';

// Pages
@import './home.less';


body {
    background-color: black;
    color: white;
    //font-size: 1.2rem;
}

#main {
    max-width: 1000px;
}

#footer {
    max-width: 1000px;
}

img {
    image-rendering: pixelated;
}

code {
    font-family: 'Fira Code';
    font-weight: normal;
}