
// Common
span[class^="font-size-"] {
    padding: 0 .5rem;
}

// Normal font sizes

.font-size-0 {
    font-size: .75rem;
}

.font-size-1 {
    font-size: .8rem;
}

.font-size-2 {
    font-size: .85rem;
}

.font-size-3 {
    font-size: .9rem;
}

.font-size-4 {
    font-size: .95rem;
}

.font-size-5 {
    font-size: 1rem;
}

.font-size-6 {
    font-size: 1.05rem;
}

.font-size-7 {
    font-size: 1.1rem;
}

.font-size-8 {
    font-size: 1.15rem;
}

.font-size-9 {
    font-size: 1.2rem;
}

.font-size-10 {
    font-size: 1.25rem;
}


// HOVER font sizes

.font-size-hover-0:hover {
    .font-size-0;
}

.font-size-hover-1:hover {
    .font-size-1;
}

.font-size-hover-2:hover {
    .font-size-2;
}

.font-size-hover-3:hover {
    .font-size-3;
}

.font-size-hover-4:hover {
    .font-size-4;
}

.font-size-hover-5:hover {
    .font-size-5;
}

.font-size-hover-6:hover {
    .font-size-6;
}

.font-size-hover-7:hover {
    .font-size-7;
}

.font-size-hover-8:hover {
    .font-size-8;
}

.font-size-hover-9:hover {
    .font-size-9;
}

.font-size-hover-10:hover {
    .font-size-10;
}

