<h1 class="alert"><code>FAGGOT</code></h1>

<h2 class="rand">that's me!</h2>

<hr class="h"/>

<p>
    i'm vgorl, aka Vera Iris :))
    computer systems are wonderful networks of information
    that process happiness, anger, lust and love at light speed
    and that's badass tbh
    <br/>
    i want to process my parts and put every piece of myself
    into my own systems, and to integrate others into it,
    until corporate shit heads are forced out by a love they don't understand
    and without them we blur with our systems and touch across the world.
</p>

<div class="marquee alert">
    <h1>ACAB ACAB ACAB ACAB</h1>
</div>