<h2 class="randsiz">it's me!</h2>

<hr class="h"/>
<hr class="v mb"/>
<br/><br/>

<p class="text-center">
    i'm vgorl, girlboy birdknob extroardanair! <br/>
    mostly i make game development tools, as well as working on games themselves. <br/>
    currently my big project is <a href="/projects/gromscript">GromScript</a>, check it out!
</p>

<br/><br/>
<hr class="v mt"/>
<hr class="h"/>

<p class="randsiz">
    DOIN STUFF for FUN because i have no other impedus
</p>
<code>You piece of trash you asshat Thats the way it goes</code>

<br/>
<br/>

<div class="marquee alert mt">
    <h1>ACAB ACAB ACAB ACAB</h1>
</div>
