<h1 class="alert"><code>FAGGOT</code></h1>

<h2 class="randsiz">that's me!</h2>

<hr class="h"/>

<p class="randsiz">
    DOIN SHIT for FUN because i have no other impedus
    <br/>
    shit falls out my head out my head out my head
    and i gotta try look BOTHERED
</p>
<code>You piece of shit you asshat Thats the way it goes</code>

<br/>
<br/>

<div class="marquee alert mt">
    <h1>ACAB ACAB ACAB ACAB</h1>
</div>