<div class="marquee">
    <h3>
        SURVIVING LIVING SURVIVING LIVING
    </h3>
</div>
<h1>
    WE LIVE
</h1>

<hr class="v"/>

<p class="rand">welcome to my webbss! i'm vgorl (she/they/it/fae)</p>
<p class="rand">i <code>program</code> bitch</p>
<p class="rand">tired and high at 4am thiis brain is tryinnnnn</p>

<hr class="v mt"/>
<hr class="h mb"/>

<h1 class="alert">HALT</h1>
<img src="/img/home/halt!.gif" id="halt" alt="cute creature holding up hand"/>
<p class="rand">have you been checked for</p>
<h1 class="rand">FALSE DICHOTOMIES ? ? ? ? ?</h1>
<div class="horizontal-center">
    <p class="rand">perpetuating a</p><span class="binary">binary</span><p class="rand">is a CRIME</p>
</div>