<div class="marquee">
    <h3>
        SURVIVING LIVING SURVIVING LIVING
    </h3>
</div>
<h1>
    WE LIVE
</h1>

<hr class="v"/>

<p class="randsiz">welcome to my webbss! i'm vgorl (she/they/it/fae)</p>
<p class="randsiz">i <code>program</code></p>

<hr class="h mt"/>

<p class="randsiz">Check out some of my <a href="/projects">projects!</a></p>

<p class="randsiz">Learn more <a href="/about">about</a> me!</p>

<hr class="v mt"/>
<hr class="h mb"/>

<h1 class="alert">HALT</h1>
<img src="/img/home/halt!.gif" id="halt" alt="cute creature holding up hand"/>
<p class="randsiz">have you been checked for</p>
<h1 class="randsiz">FALSE DICHOTOMIES ? ? ?</h1>
<div class="horizontal-center">
    <p class="randsiz">perpetuating a</p><span class="binary">binary</span><p class="randsiz">is a CRIME</p>
</div>
